CompilerV1/build
CompilerV1/dist
CompilerV1/nbproject
CompilerV1/src/*.class
CompilerV1/src/*.txt
CompilerV1/src/*.bat
CompilerV1/test
CompilerV1/build.xml
CompilerV1/manifest.mf

CompilerV2/build
CompilerV2/dist
CompilerV2/nbproject
CompilerV2/src/*.class
CompilerV2/src/*.txt
CompilerV2/src/*.bat
CompilerV2/test
CompilerV2/build.xml
CompilerV2/manifest.mf