function Ball.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push constant 5
push constant 35
call LCGRandom.randRange 2
pop this 2
push this 2
push constant 32
add
pop this 3
push this 3
push constant 511
push this 3
sub
call LCGRandom.randRange 2
pop this 0
push this 3
push constant 220
push this 3
sub
call LCGRandom.randRange 2
pop this 1
push constant 10
push this 2
push constant 2
call Math.divide 2
add
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.affect 3
push argument 0
pop pointer 0
push this 2
push this 4
add
push constant 1
add
pop local 0
push this 0
push argument 1
call Fly.getX 1
sub
call MathEx.abs 1
pop local 1
push this 1
push argument 1
call Fly.getY 1
sub
call MathEx.abs 1
pop local 2
push local 1
push constant 100
lt
push local 2
push constant 100
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 1
call Math.multiply 2
push local 2
push local 2
call Math.multiply 2
add
call Math.sqrt 1
pop local 0
label IF_FALSE0
push local 0
push this 2
sub
push this 4
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Fly.stop 1
pop temp 0
push constant 0
not
pop this 5
label IF_FALSE1
push constant 0
return
function Ball.getStopped 0
push argument 0
pop pointer 0
push this 6
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 8
add
pop this 2
push this 3
push this 2
gt
pop this 5
push this 5
not
pop this 6
label IF_FALSE0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
